# PyCharm files
.idea/

# Python build files
dist/
*.egg-info/
__pycache__/

# Python coverage files
htmlcov/
pytest/
.coverage
coverage.xml

# Jupyter Notebook files
.ipynb_checkpoints/

# Frontend build files
.vite/
node_modules/

# Log files
*.log